@()


@main("Welcome") {
@defining(play.core.PlayVersion.current) { version =>

<section id="content">
  <div class="wrapper doc">
    <article>
      <h2>Welcome to Senderman.tech!</h2>
      <p>This tutorial introduces Play Framework, describes how Play web applications work, and walks you through steps
        to create page that displays a Hello World greeting.</p>
      <p>If you loaded this page from the web server running on <code>localhost:9000</code>, congratulations! You have
        successfully built and run a Play application. If not, you likely opened the source <code>index.scala.html</code>
        file. Please follow the directions in the <code>README.md</code> file in the top-level project directory to run
        the tutorial.</p>

       </article>
    <aside>
      @commonSidebar()
    </aside>
  </div>
</section>
}
}